name: GHA SSH test
on:
  push:
    branches:
      - main
jobs:
  build:
    runs-on: windows-latest
    steps:
    - name: check dir
      run: |
        pwd
      shell: bash 
    - name: check gflags
      working-directory: scripts
      run: |
        pwd && ls && call checkgflag.bat
      shell: bash
    - name: Start SSH session
      uses:  luchihoratiu/debug-via-ssh@main
      with:
        NGROK_AUTH_TOKEN: ${{ secrets.NGROK_AUTH_TOKEN }}
        SSH_PASS: ${{ secrets.SSH_PASS }}         
