name: GHA SSH test
on:
  push:
    branches:
      - main
jobs:
  build-and-deploy:
    runs-on: windows-latest
    steps:
    # This is to checkout prrobot
    - name: Checkout
      uses: actions/checkout@v2
      with:
        persist-credentials: false
        fetch-depth: 0                
    - name: check gflags
      working-directory: ./scripts
      run: |
        tmp.sh
      shell:
        bash
    - name: Start SSH session
      uses:  luchihoratiu/debug-via-ssh@main
      with:
        NGROK_AUTH_TOKEN: ${{ secrets.NGROK_AUTH_TOKEN }}
        SSH_PASS: ${{ secrets.SSH_PASS }}         
  
