name: Update VS in Pytorch
on:
  #push:
  #  branches:
  #    - main
  schedule:
    - cron: '0 12 1/15 * *'
jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    env:
      pytorch_token: ${{secrets.PYTORCH_KEY}}
    steps:
    - name: Checkout
      uses: actions/checkout@v2
      with:
        persist-credentials: false
        fetch-depth: 0
    - name: Checkout Pytorch
      uses: actions/checkout@v2
      with:
        repository: mszhanyi/pytorch
        persist-credentials: false
        path: pytorch
        fetch-depth: 0
    - name: Checkout Pytorch Builder
      uses: actions/checkout@v2
      with:
        repository: mszhanyi/builder
        persist-credentials: false
        path: builder
        fetch-depth: 0
    - name: Make Commits
      working-directory: ./scripts
      run: |
        bash make_vs_commits.sh
    - name: Combined PR For test
      id: combpr
      uses: mszhanyi/pull-request-action@master
      env:
        PULL_REQUEST_TOKEN: ${{secrets.PYTORCH_KEY}}
        PULL_REQUEST_REPOSITORY: "pytorch/pytorch"
        PULL_REQUEST_FROM_BRANCH: "mszhanyi:zhanyi/combpr4vs"
        PULL_REQUEST_BRANCH: "master"
        PULL_REQUEST_TITLE: "[Testing] Combined PR for updating VS by Robot"
        PULL_REQUEST_BODY: "This PR is just for test, don't merge it"
        PASS_IF_EXISTS: "1"
        PULL_REQUEST_UPDATE: "1"
    - name: Add Label
      uses: actions-ecosystem/action-add-labels@v1
      with:
        labels: ci/all
        github_token: ${{secrets.PYTORCH_KEY}}
        repo: "pytorch/pytorch"
        number: ${{ steps.combpr.outputs.pull_request_number }}
    - name: PR to Builder
      id: pr2builder
      uses: mszhanyi/pull-request-action@master
      env:
        PULL_REQUEST_TOKEN: ${{secrets.PYTORCH_KEY}}
        PULL_REQUEST_REPOSITORY: "pytorch/builder"
        PULL_REQUEST_FROM_BRANCH: "mszhanyi:zhanyi/updatevs"
        PULL_REQUEST_BRANCH: "master"
        PULL_REQUEST_TITLE: "[Testing] Update VS version in Builder by Robot"
        PULL_REQUEST_BODY: "If ${{ steps.combpr.outputs.pull_request_url }} passed, merge this PR"
        PASS_IF_EXISTS: "1"
        PULL_REQUEST_UPDATE: "1"
    - name: PR to Pytorch
      uses: mszhanyi/pull-request-action@master
      id: pr2pytorch
      env:
        PULL_REQUEST_TOKEN: ${{secrets.PYTORCH_KEY}}
        PULL_REQUEST_REPOSITORY: "pytorch/pytorch"
        PULL_REQUEST_FROM_BRANCH: "mszhanyi:zhanyi/updatevs"
        PULL_REQUEST_BRANCH: "master"
        PULL_REQUEST_TITLE: "[Testing] Update VS version by Robot"
        PULL_REQUEST_BODY: "${{ steps.pr2builder.outputs.pull_request_url }} should be merged first\n"
        PASS_IF_EXISTS: "1"
        PULL_REQUEST_UPDATE: "1"




