name: Update VS in Pytorch
on:
  push:
    branches:
      - main
  schedule:
    - cron: '* * 1/14 * *'
jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    env:
      pytorch_token: ${{secrets.PYTORCH_KEY}}
    steps:
    - name: Checkout
      uses: actions/checkout@v2
      with:
        persist-credentials: false
        fetch-depth: 0
    - name: Checkout Pytorch
      uses: actions/checkout@v2
      with:
        repository: mszhanyi/pytorch
        persist-credentials: false
        path: pytorch
        fetch-depth: 0
    - name: Checkout Pytorch Builder
      uses: actions/checkout@v2
      with:
        repository: mszhanyi/builder
        persist-credentials: false
        path: builder
        fetch-depth: 0
    - name: Make Commits
      working-directory: ./scripts
      run: |
        bash make_vs_commits.sh
    - name: PR to Builder
      id: pr2builder
      uses: mszhanyi/pull-request-action@master
      env:
        PULL_REQUEST_TOKEN: ${{secrets.PYTORCH_KEY}}
        PULL_REQUEST_REPOSITORY: "mszhanyi/builder"
        PULL_REQUEST_FROM_BRANCH: "mszhanyi:zhanyi/updatevs"
        PULL_REQUEST_BRANCH: "master"
        PULL_REQUEST_TITLE: "[Testing] Update VS version by Robot"
        PASS_IF_EXISTS: "1"
        PULL_REQUEST_UPDATE: "1"
    - name: PR to Pytorch
      uses: mszhanyi/pull-request-action@master
      id: pr2pytorch
      env:
        PULL_REQUEST_TOKEN: ${{secrets.PYTORCH_KEY}}
        PULL_REQUEST_REPOSITORY: "mszhanyi/pytorch"
        PULL_REQUEST_FROM_BRANCH: "mszhanyi:zhanyi/updatevs"
        PULL_REQUEST_BRANCH: "master"
        PULL_REQUEST_TITLE: "[Testing] Update VS version by Robot"
        PULL_REQUEST_BODY: "1. ${{ steps.pr2builder.outputs.pull_request_url }} should be merged first\n 2. revert binary_checkout.sh before merging"
        PASS_IF_EXISTS: "1"
        PULL_REQUEST_UPDATE: "1"
    - name: Add Label
      uses: actions-ecosystem/action-add-labels@v1
      if: ${{ startsWith(github.event.comment.body, '/add-labels') }}
      with:
        labels: bug
        github_token: ${{secrets.PYTORCH_KEY}}
        repo: "mszhanyi/pytorch"
        number: ${{ steps.pr2pytorch.outputs.pull_request_number }}



